/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Optional: smooth transition for theme toggling */
* {
  transition: all 0.2s ease-in-out;
}

body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white;
  font-family: 'Inter', sans-serif;
}